*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato;
}
/* start heading section */
.header-container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    padding-top: 30px;
}
.head-content-text{
    color: #272727;
font-size: 80px;
font-weight: 800;
}
.head-content-pera{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;

}
.btn{
    height: 50px;
    width: 130px;
    background: #E55473;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    color: white;
    font-weight: 400;
}
.head-content{
    width: 650px;
}
.head-img{
    width: 635px;
    height: 748px;

}

/* end header section */

/* start featured section */
.feautured-container{
    width: 80%;
    height: 80vh;
    margin: auto;
}
.featured-content-img{
    width: 380px;
    height: 480px;
    border:none
    
}

.feautured-content{
    width: 500px;
    margin: auto;
    margin-top: 100px;
}
.featured-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
.feautured-content-text{
    color: #272727;
    text-align: center;
    font-size: 40px;
}
.feautured-content-pera{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 40px;

}
.pink-flower{
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
.featured-content-img-list{
    width: 260px;
    height: 350px;
    margin-top: 130px;
    margin-left: 50px;

}
.featured-content-img1{
     background: rgba(167, 33, 98, 0.15);
     border-radius: 200px 200px 0px 0px;
}
.featured-content-img2{
    background: rgba(5, 151, 160, 0.15);
    border-radius: 200px 200px 0px 0px;
}
.featured-content-img3{
    background: rgba(71, 125, 17, 0.15);
    border-radius: 200px 200px 0px 0px;
}
/* end featured section */

/* start service section */

/*end service section */
.service-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 330px;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 10px;
    margin-top: 50px;

}
    .icon{
        width: 90px;
        margin: auto;
        display: block;
        
        
    }
    .service-icon{
        color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    }

/* start deal section */
.deal-container{
     background: rgba(229, 84, 115, 0.05);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}
.deal-content{
    width: 550px;
}
.deal-content-text{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.deal-content-pera{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
span{
    color:#E55473;
}

.d-btn{
    text-align: center;
}
/* end deal section */

/* start instagram section */
    .instra-container{
        width: 80%;
        margin: auto;
        margin-top: 100px;
    }
    .instra-text{
    width: 500px;
    margin: auto;
    }

    .instra-content-text{
        color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    }

    .instra-content-pera{
        color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    }
    .instra-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }
/* end instagram section */

/* start latest deal section */
.latest-deal-container{
    width: 80%;
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest-content{
    width: 800px;
}

.latest-content-text{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.latest-content-pera{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

input{
    display: inline;
    width: 600px;
    height: 50px;
    border: 1px solid white;
    border-radius: 8px;
    gap:10px;
}
input::placeholder{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    text-indent: 20px;
}
/* end latest deal section */

/* start footer section*/
.footer-container{
    height: 40vh;
    background-color:rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.foot-content{
    width: 500px;
}
.foot-text{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.foot-pera{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.foot-pera1{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}


/*end footer section  */
